[user]
    name = Dani Roxberry
    email = dani@bitoriented.com
[alias]
    ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
[github]
    username = droxey
    user = droxey
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool]
    keepBackup = false
[core]
    excludesfile = ~/.gitignore_global
    editor = code -n --wait
    compression = 9
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[pack]
    windowMemory = 10
    packSizeLimit = 20m
[branch]
    autosetupmerge = always
