<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
    <string>com.nomachine.uninstall</string>
  <key>ProgramArguments</key>
    <array>
      <string>/Library/Application Support/NoMachine/nxuninstall.sh</string>
    </array>
  <key>WatchPaths</key>
  <array>
    <string>/Applications/NoMachine.app</string>
  </array>
  <key>StandardOutPath</key>
    <string>/Library/Application Support/NoMachine/var/log/nxuninstall.log</string>
</dict>
</plist>

