bplist00Ô_LicenseInfo/Signature_LicenseInfo/PublicCerts_LicenseInfo/License_LicenseInfo/MoreInfo_XdQkVhNuKuL1fpompAnzPxCZtn3EEoA+SCfv8oTuLuk3xX/z2lcBSSnCJYi9A70o5cs/ZlPZdUUUbDfCLnmUNP/n32T5WH/r3ojzJyyT5et6bfJ4zmisAzTyw8SuIsPH9WJbObStTSp06fdatr50Mu/s5Sk6IOE2h61xqtZ+IuJvsvP43K0ymOInK//lhzAa7dzxh4/8ohkflCmRs8+fQV0xIOeVrTf+Ju8NOTMDyBVie7EI/ttNEK2f9QNoC3vVuA6jWxnSbaon4r165akjJbuJeOsRGf35kPmcCSwj9xOLn6ZbOtER05979SCX7NkxezaoapIPJmrBGSJ3fB0Ed9Q==_®-----BEGIN CERTIFICATE-----
MIIGcDCCBFigAwIBAgICEAEwDQYJKoZIhvcNAQELBQAwdDELMAkGA1UEBhMCUlUx
DzANBgNVBAcMBk1vc2NvdzEjMCEGA1UECgwaUGFyYWxsZWxzIElQIEhvbGRpbmdz
IEdtYkgxEDAOBgNVBAsMB1Rvb2xib3gxHTAbBgNVBAMMFFBhcmFsbGVscyBUb29s
Ym94IENBMB4XDTE2MTAyNDEyMzkzNFoXDTI4MDcxMjEyMzkzNFowdTELMAkGA1UE
BhMCUlUxDzANBgNVBAcTBk1vc2NvdzEjMCEGA1UEChMaUGFyYWxsZWxzIElQIEhv
bGRpbmdzIEdtYkgxEDAOBgNVBAsTB1Rvb2xib3gxHjAcBgNVBAMTFXRvb2xib3gu
cGFyYWxsZWxzLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALwV
pfcTOS69IbeE9BqN1tH05D4toFAFqno61meS9e2jO5q93EvaeFzJMSIo5GsF136f
5qKQ8cWkzwV7kn5wkKsY7XZRexM+E8wT4Sn+HlHZmoaTlrGDIqsPREaMCL5HK+fm
07N/WY5jb4WrJOGWY7gOiQPMH4Zz910XrSIcEEwBQ3iU4XxodWd00z0MgZJ/scVZ
Og4rwnyd92/TlDn1sDJa8QhIU0tjDFN2BLnDQrZPO7LcTGdwfeuq9rUzUr0Yjpmg
kH25KxyISvhkg93cDDXChrNZSvZsqYDugVcphZswy57nfWKX5ZBX0/oPR7iOZBgO
V2qAimvhW+goajj//z0CAwEAAaOCAgkwggIFMAwGA1UdEwEB/wQCMAAwDgYDVR0P
AQH/BAQDAgeAMB0GA1UdDgQWBBQt/5L3UDmeAYsFF+vazRW50xjBzjAfBgNVHSME
GDAWgBSFKh2hprjlk8c7pOkEyVVtEsev3TBCBggrBgEFBQcBAQQ2MDQwMgYIKwYB
BQUHMAKGJmh0dHA6Ly93d3cucGFyYWxsZWxzLmNvbS9jYS9wYXhfY2EucGVtMDcG
A1UdHwQwMC4wLKAqoCiGJmh0dHA6Ly93d3cucGFyYWxsZWxzLmNvbS9jYS9wYXhf
Y2EuY3JsMIIBJgYDVR0gBIIBHTCCARkwga0GDisGAQQBgcw7g30CAgEBMIGaMDkG
CCsGAQUFBwIBFi1odHRwOi8vY2EucGFyYWxsZWxzLm5ldC9jYS9wYXJhbGxlbHNf
Y3BzLmh0bWwwXQYIKwYBBQUHAgIwUTAfGhhQYXJhbGxlbHMgSG9sZGluZ3MsIGx0
ZC4wAwIBARouRXh0ZXJuYWwgQmFzaWMgQ2VydGlmaWNhdG9uIFByYWN0aWNlIFN0
YXRlbWVudDBnBg4rBgEEAYHMO4N9AgJmATBVMFMGCCsGAQUFBwICMEcwHxoYUGFy
YWxsZWxzIEhvbGRpbmdzLCBsdGQuMAMCAQEaJFBhcmFsbGVscyBUb29sYm94IENl
cnRpZmljYXRlIFBvbGljeTANBgkqhkiG9w0BAQsFAAOCAgEAKcHOOjYhnndlMiBn
UABtWFAiVUZZYcnJbYWKCfw55UwSjnd0dF6DQeTxwPY0UNZ/DG8PMnl+A+CkdiHj
TbFjPX28CZUINw8fToOCSTT7Q89lBtLAFbJrfva5o5zr1KciYJCjRBetWQZhuv1L
m8iwPeojlccEsLxMe8J2oonyzQDylQgFVmxH9+VPjr5XadftXar7NVg0Gx6pKhSG
Mhjp8vnW0IkJlc6h9xb7XGmfibbX77TW442xqEfoVkzXL0zGLP/XkMhiyITy1ZZV
myXOBUmzdRttlXpBnXEmu1HRo/Q9p7cxr6AV7IlRIQ/qwhiyLCcOxfl7Q2xT6G2i
nS4hI56BtxI18VrYnB9SFjXyxZjGLX5TleGe9+jFCqkw/wA8kxKuVI1zWE0vIDZM
tHkLLiu+xMGP2sJO9sIC2VDuoO965kXyO+mOFi8lUKGdJfRanWABHiSMnxBdadjy
XcQyEB4ltIZbgFMkxLRPDJFFMKQcOp3Yr3hk2WtS0TBd+XNTEYR0p/ZqTRttEiXQ
ffOPogUdK94HuG1+Ml25Gotq4gWzyX3Zjxjp0bMUCvDIDokZy7nDVmSSU9fRPVT4
9Xud022ZMrpaIwI5jUkGQczy36ZOs1Imx7RMWCnLVXgIQRljC45MTrRInCLFS7M3
mrLytneI+pdNs/5EUCX9n15jrSo=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIH8jCCBdqgAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwdDELMAkGA1UEBhMCUlUx
DzANBgNVBAcMBk1vd2NvdzEjMCEGA1UECgwaUGFyYWxsZWxzIElQIEhvbGRpbmdz
IEdtYkgxDjAMBgNVBAsMBUNsb3VkMR8wHQYDVQQDDBZQYXJhbGVscyBJc3N1aW5n
IENBICMxMB4XDTE2MTAwNzE0MTYxMloXDTI4MTEwNjE0MTYxMlowdDELMAkGA1UE
BhMCUlUxDzANBgNVBAcMBk1vc2NvdzEjMCEGA1UECgwaUGFyYWxsZWxzIElQIEhv
bGRpbmdzIEdtYkgxEDAOBgNVBAsMB1Rvb2xib3gxHTAbBgNVBAMMFFBhcmFsbGVs
cyBUb29sYm94IENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEArgBP
UKN5g5csDSBApzMgMJrrrxxrh6BActpNEZdZpcUn5amo+YijgQP6UYjkQfrDAqRL
AGd/axi4cFGHBYdHspBAdKjSOYMhldU9y5wwDlMFlZdTJFvo17nF3VfkN7EOFSvQ
j7vwQAdwxvi3ykbIdAcvP+JB/aA3K6ZIBmN+JWM0U1bdDq4qwmBKFzHyWiaICyvF
yXCSlPy/wZJMuQ9MI+QGtP7ablk/DzvP313SRjWmWD5XP1r2iImG9bOEr45IMC6i
iVoVyGsasF0b4E+NvHGcMcBsXlt6GDQgH9bxQ9QGELT6yTJK24RxfXSL3UttHcgK
lN1pF/wwxb4PWaKjzszOSdAHLdz3t49NI1qQKMRQE3uzew1hA6s4smzK/c8TE+B+
4JuK38JDptwTU8GLCLu5N3s9BPIBoDh2LQJNwQ42eboky/M6+lHbR/a3prvShCMK
yE7pSPKQdg9O35cOCWj56KFZaaZaCQ21xBdXW5Cu39+kqHs53ng7C7otFtyZDvcd
iUIdSL7EsB3azbBcryZIGcf8x1xGCnntJz72+A+JJ+MkUaCcJ0bdvE3dQDETlP1c
o57nCwwYoNv7ndme3+PR8INeCXTtLG/dYwz60sDPECZZW2nJDZ7X0asaKuQnbAP5
u4kAZ5BAybyv+AeijZtNcfgWD8gZZoDdGfTV7Y8CAwEAAaOCAowwggKIMA8GA1Ud
EwEB/wQFMAMBAf8wDwYDVR0kAQH/BAUwA4ABADAKBgNVHTYEAwIBADAOBgNVHQ8B
Af8EBAMCAQYwHQYDVR0OBBYEFIUqHaGmuOWTxzuk6QTJVW0Sx6/dMB8GA1UdIwQY
MBaAFDuTEfsf59F+SCw7mxQ9KqVPg/1KMD8GCCsGAQUFBwEBBDMwMTAvBggrBgEF
BQcwAoYjaHR0cDovL2NhLnBhcmFsbGVscy5uZXQvY2Evcm9vdC5wZW0wNwYDVR0f
BDAwLjAsoCqgKIYmaHR0cDovL2NhLnBhcmFsbGVscy5uZXQvY2Evcm9vdF9jYS5j
cmwwggGMBgNVHSAEggGDMIIBfzCBrQYOKwYBBAGBzDuDfQICAQEwgZowOQYIKwYB
BQUHAgEWLWh0dHA6Ly9jYS5wYXJhbGxlbHMubmV0L2NhL3BhcmFsbGVsc19jcHMu
aHRtbDBdBggrBgEFBQcCAjBRMB8aGFBhcmFsbGVscyBIb2xkaW5ncywgbHRkLjAD
AgEBGi5FeHRlcm5hbCBCYXNpYyBDZXJ0aWZpY2F0b24gUHJhY3RpY2UgU3RhdGVt
ZW50MGQGDisGAQQBgcw7g30CAgECMFIwUAYIKwYBBQUHAgIwRDAfGhhQYXJhbGxl
bHMgSG9sZGluZ3MsIGx0ZC4wAwIBARohRXh0ZXJuYWwgQmFzaWMgQ2VydGlmaWNh
dGUgUG9saWN5MGcGDisGAQQBgcw7g30CAmYBMFUwUwYIKwYBBQUHAgIwRzAfGhhQ
YXJhbGxlbHMgSG9sZGluZ3MsIGx0ZC4wAwIBARokUGFyYWxsZWxzIFRvb2xib3gg
Q2VydGlmaWNhdGUgUG9saWN5MA0GCSqGSIb3DQEBCwUAA4ICAQCHU56AKeXG+SeC
1oFjVzRiAx2rBthU2iuj2HwPFyj4DONTEIdZA7DhEoJCe3SIeI5vafMNuXX6wATq
wKXzzuzsH1cdBUlEr1NrHogh5jp2NzkagkQrvV/VJ9nvSXoMS16Xjn0xWupukRE8
dHJPSNMOa3W7IZfCXbUjxEoEskL+Jppylf7ZR9r/w2pmMfsnVTh+GJzVrpB5hclT
Qk8Vi6GgXLWssi5PM0Ia6ZrQcDtL1zJPuZABJak+kbqjmJQFOa9ah4CO9HDSdhft
9WiGnZz7v6urdvdwF4zWw0v7zZgkX6NXtKe+qLMNSOlHbkIKuBzAyN5hTb68w9Rq
sQk0njq9cBgJq7Bp69X88aEPJG1bVk2i84ElooEu+zMpB0HjEOekBqtSSP6A16bz
J3HTb/QaIENSDeTGf6dbGgcV8uT+/4p8DlV2qdAM+lb2zP5cTGHtm1Po6IBTHrhA
CyaXSdOL4oKEivOkzNRROtdXIU7lt3ddDMHnoXU8nTeLYbH2vrNfchJdoBi4PlFT
B4cv1mCa8NqRsuNEH634OOyW2ENSX0+/Cn9CnK65QDPuZQpyri/SeaH0b5g6dAyX
O+lx6G1plYAwJC02thp7qcC4HGpwUy17qGsaWkQ8tF40qdsPF058giYvkNO4uRl1
/E8IPEauB1yXO5jZs02FJIejsxIdNQ==
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIHvTCCBaWgAwIBAgIJAKfE9q7ikq7mMA0GCSqGSIb3DQEBCwUAMIGgMQswCQYD
VQQGEwJDSDEVMBMGA1UEBwwMU2NoYWZmaGF1c2VuMSMwIQYDVQQKDBpQQVJBTExF
TFMgSVAgSG9sZGluZ3MgR21iSDELMAkGA1UECwwCSVQxIzAhBgNVBAMMGlBhcmFs
bGVscyBFeHRlcm5hbCByb290IENBMSMwIQYJKoZIhvcNAQkBFhRhZG1pbnNAcGFy
YWxsZWxzLmNvbTAeFw0xNjEwMDcxNDEyMjVaFw0yODExMDYxNDEyMjVaMHQxCzAJ
BgNVBAYTAlJVMQ8wDQYDVQQHDAZNb3djb3cxIzAhBgNVBAoMGlBhcmFsbGVscyBJ
UCBIb2xkaW5ncyBHbWJIMQ4wDAYDVQQLDAVDbG91ZDEfMB0GA1UEAwwWUGFyYWxl
bHMgSXNzdWluZyBDQSAjMTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIB
ALnxIcGsh9ozhUVby8mlCc5XQxKNfW6dGW/SnKbxpqrXfpQ0gNO6WoLI/EOSwk7C
Zbo/Kc/0abmu26YexiiHEf0FdjS+9ySHqJOgf6kKclC9JC4Dr+FGZISG9G2fkzTn
NcsrHk9btii4wDZ9Kjz+398C3ysxK21xjkk+Re1OXl8E+Uhc67jbz0/0Tjd0d7Js
jVjtKZxQts9SV3KzruwfTyhgkW/4VxmP4RCJqa1TgDLVL98fZjTQBG9cOj3tGRKd
Zt3EV3QdDXFP08S62CkMOxWn+Fda9BPg6z83ne+TzmREJ4hlafj2kRg+1dKsCNUz
ZN+nHYVkxNLl9jN/415CdXAPNfWYoibweG0QjI4Ld3/ue0DUEmOY4tu7ofQODnME
2ThWrKF8HSnxh8oFNTBm8J5Jh3pTvKw+tJdqbAUi9ykAN7/M+NwxnY5b1wgddHaQ
kxaedarnwQfRIFaVvNCRcoZVD9qt6v/jnI8xETxfOjd6WOfg34ZqdyXLX4ttqK0M
EgI2HxwRhWAvHl5oR7HS9gCxMY5JvPQ8S+au1XS/xw/L4OJVYTrOVWuvzH50NsrH
mcR4N6D5+EYSryuLhL+Nuj/FU37+zbKcZKD1qIHMn3fbfoyspF37KBkbgf8K+1Cq
Lc2UUsSmZLDnR+jD0T8zEyBTR1a9iCAAy8v50Ok+IJHZAgMBAAGjggIjMIICHzAP
BgNVHRMBAf8EBTADAQH/MA8GA1UdJAEB/wQFMAOAAQAwCgYDVR02BAMCAQAwDgYD
VR0PAQH/BAQDAgEGMB0GA1UdDgQWBBQ7kxH7H+fRfkgsO5sUPSqlT4P9SjAfBgNV
HSMEGDAWgBQ5POcdiTty5/ba6yyF1LYMRqlAETA/BggrBgEFBQcBAQQzMDEwLwYI
KwYBBQUHMAKGI2h0dHA6Ly9jYS5wYXJhbGxlbHMubmV0L2NhL3Jvb3QucGVtMDcG
A1UdHwQwMC4wLKAqoCiGJmh0dHA6Ly9jYS5wYXJhbGxlbHMubmV0L2NhL3Jvb3Rf
Y2EuY3JsMIIBIwYDVR0gBIIBGjCCARYwga0GDisGAQQBgcw7g30CAgEBMIGaMDkG
CCsGAQUFBwIBFi1odHRwOi8vY2EucGFyYWxsZWxzLm5ldC9jYS9wYXJhbGxlbHNf
Y3BzLmh0bWwwXQYIKwYBBQUHAgIwUTAfGhhQYXJhbGxlbHMgSG9sZGluZ3MsIGx0
ZC4wAwIBARouRXh0ZXJuYWwgQmFzaWMgQ2VydGlmaWNhdG9uIFByYWN0aWNlIFN0
YXRlbWVudDBkBg4rBgEEAYHMO4N9AgIBAjBSMFAGCCsGAQUFBwICMEQwHxoYUGFy
YWxsZWxzIEhvbGRpbmdzLCBsdGQuMAMCAQEaIUV4dGVybmFsIEJhc2ljIENlcnRp
ZmljYXRlIFBvbGljeTANBgkqhkiG9w0BAQsFAAOCAgEAjCdFbWndzGnuwp8mry/y
kOSO15NyUfuhSqZ4iSR6tmyWro8RHar949xzWzuFd+kx91LIH0JAo6j7BZJa9Za/
FFD09mWL4w7Jd3cdpIArHS+xaHVvHHxc9Kz+d3yAnxMnOZcncqjPXAxzb2hAP64w
wPGYBro6gYdvgTNIs3HZEkabN2eBbFGfuM23CCNICEb1YjZGVv4LRwBwgsSi4ou5
VRd7zNJ0oQnSSxl3VdMYbl/A48HS9dAjSkginQjsf7geCqK4uDvVsZfbUt6A3OTy
melK8QAVk3XDAGomCDDZjSOmzlwjGjwuBNXUMp6BpyDv6oTT+okAmQga1gHcrMne
Uo34yK5f9Io+p2aPLZWT1HHijHHPV6rUedF9RVkunLDGOcMQlOCcXAkWDUakV9yS
CcvVhbhAegbZxVGUxiuFYPAhdSJwMc4jwPJ2P6javfCfSL4NffuK9L/iirZgng1C
/Kuj6E8EyAO7k1NSMODG5LB1Vg5QMtTcpySPWjY0xus9hbURV9KrddMnIVnmr6Xo
A48flx3SYqX/BIkh5ts+G2O0ufRhm2XIrk8U++c+XLwBpPIONob98exYKF0Ikjrt
qtIMjNExEQ9RJetkkmY+ZT2bZLroDfGiXIztxQvcuz2Ofh4nL06MOWHSf/AVgWcK
CmpWqdGXjywzMTLpNzhpn/M=
-----END CERTIFICATE-----
_Ë{"name": "Dani Roxberry", "uuid": "d58935c92a7247309bf626ee531ef55a", "lic_key": "6J9X2X-******-******-******-KXAFE3", "activated_at": "2022-12-01 05:45:08", "edition": "full", "main_period_ends_at": "2023-12-01 03:48:32", "grace_period_ends_at": "2023-12-08 03:48:32", "is_auto_renewable": true, "is_nfr": false, "is_beta": false, "is_suspended": false, "is_expired": false, "is_grace_period": false, "limit": 1, "usage": 1, "hosts": [{"name": "GDPR_HIDDEN", "hw_id": "14e149189b865fdd97037c4c29452c07", "product_version": "6.0.1-4541", "activated_at": "2022-12-01 05:45:08"}], "products": [{"id": 1, "os_type": 0, "edition": "full", "versions": {"mac": {"*": "full"}, "win": {"*": "full"}}}], "cep_option": false}_>{"products_size":3,"result":0,"products":["pdfm","pax","ptb"]}   ) C Y pÌ ~#M             	              #Ž